<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add user</title>
</head>
<body>
    <h1>add - user - component</h1>
<form>
<div>
<input  type="submit" placeholder="enter your email" name="userName" id="userName" >
<input type="password" placeholder="password" name="password" id="password">
</div>
</form>
    <p>don't have a password?</p>
   <button routerLink="/signIn">create acount</button>
</body>
</html>