<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add user</title>
</head>
<body>
<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
<div>
<input  formControlName="email" type="text" placeholder="enter your email" name="userName" id="userName" >
<input formControlName="password" type="password" placeholder="password" name="password" id="password">
<button type="submit">Send</button>
</div>
</form>
    <p>don't have a password?</p>
   <button routerLink="/addUser">create acount</button>
</body>
</html>
