<!-- <div class="main menu" id="wrapper">
  <div  id="navigation">
    <ul>
      <li> <a routerLink="/home" class="button">Home</a> </li>
      <li> <a routerLink="/courses" class="button">courses</a></li>
      <ul>
        <li> <a routerLink="/ui-ux" class="button">ui-ux</a></li>
        <li> <a routerLink="" class="button"> subject 2</a></li>
        <li> <a routerLink="" class="button"> subject 3</a></li>
      </ul>
      <li> <a routerLink="/contact" class="button">Contact</a></li>
  </ul>
  </div>
</div> -->
<img src="assets/logo.jpg"  width="10%" title="logo"  />

<h1>HT-master</h1>

<nav>
	<a href="#" routerLink="/home">Home</a>
	<a href="#">About</a>
	<a href="#" routerLink="/courses">Courses</a>
	<a href="#" routerLink="/ui-ux">ui-ux</a>
	<a href="#" routerLink="/contact">Contact</a>
	<div class="animation start-home"></div>
</nav>



<p>
  By <span>shira and oreli</span>
</p>
