.main menu{
background-color: aqua;
}
a{
    text-align: center;
    text-size-adjust: large;
}
#wrapper {
    width: 960px;
    margin: 0 auto;
  }
  #navigation {
    width: 960px;
    font-size: 18px;
    margin: 20px auto;
    text-align: center;
  }
  .button{
    width: 190px;
    float: right;
    border:1px inset rgb(216, 116, 255);
    padding:1px 5px;
    color:rgb(51, 0, 99);
    background-color:#729ff1;
    font-family:Arial, sans-serif;
    text-align:center;
    text-decoration:none;
    display:block;
  }
  a.button:link {
    background-color:#2166FF; 
  }
  
  a.button:hover { 
    color:#f5c3ff; 
    border:1px outset rgb(26, 0, 56); 
  }
  a.button:visited {
    background-color:#09F; 
  }

  




  
 