<p>ui-ux works!</p>
<div>
    <p>בס"ד
        UI-UX
        מה משותף ל- Wolt, פייסבוק ו-Waze? כמובן, חוץ מהעובדה שכל אחת מהן שווה מיליארדים.
        
        על פניו מדובר ברעיונות פשוטים למדי – הזמנת אוכל, רשת חברתית וניווט בכביש. אבל אחד הדברים שגרמו לכל אחת מהחברות האלו להפוך לחברות בשווי של מיליארדי דולרים הוא חווית המשתמש וממשק המשתמש שלהן. במילים אחרות, ה- UX וה- UI שלהן.
        למי מתאים ללמוד UX UI?
        כפי שאולי כבר הבנתם, לימוד UX אינו מתאים בהכרח לכל אחד. מדובר בתחום מורכב, המשלב היבטים טכנולוגיים מתקדמים מצד אחד, לצד אלמנטים מעולמות העיצוב והפסיכולוגיה. בנוסף, חלק ניכר מהקורסים בתחום דורשים היכרות קודמת עם העולם הדיגיטלי. לכן, הקורסים מיועדים לאנשים עם רקע בתחומים משיקים, כמו שיווק, דיגיטל, תכנות או ניהול מוצר. אפשרות נוספת, היא להגיע לקורס UX UI אחרי תואר בפסיכולוגיה, שיווק, תקשורת או עיצוב.
        את אתם מתעניינים בעולם ההייטק והשיווק, את צמד קיצורי המילים UX UI בטח יצא לכם לשמוע לא מעט פעמים, ותמיד בהקשר של מה זה UX UI? ראשי התיבות הם User Experience, שהמשמעות בעברית היא חוויית משתמש, וכן User Interface, שהמשמעות בעברית היא החלק הוויזואלי, זה שנראה לעין.
        
        מה זה UX UI ואיפה אנחנו פוגשים את זה בחיי היום-יום?
        המונחים User Experience ו- User Interface הם שני מונחים שמשתלבים זה בזה, והם מה שהופך את המוצר לשימושי, נוח ונעים. ה"מוצר" יכול להיות אפליקציית משחקים, אתר קניות אונליין, תוכנת נוכחות אדם לחברות וארגונים, בקבוק שמפו, גריל גז, תיק גב ובעצם כל מוצר המשמש את האדם ואפילו את בעלי החיים. חברות הייטק וחברות סטאטרט-אפ מפתחות גם וגם: גם "מוצרים" דיגיטליים כדוגמת תוכנות, אתרים ואפליקציות, וגם מוצרים "פיזיים" כדוגמת מכשירים, מכונות ואביזרים. בין השאלות שנשאלות בתהליך של עיצוב חוויית משתמש הם:
        
        האם הצבעים של האתר משרים תחושת רוגע?
        האם ברור מספיק למשתמש כיצד להגיע לעמוד הרכישות באתר?
        האם הניווט באפליקציה היה "מאבק" עבור המשתמש, או שהדברים היו ברורים?
        האם נוח לאחוז בבקבוק השמפו בזמן שהידיים רטובות?
        האם השימוש בתוכנה מייעל את העבודה לרכזת משאבי אנוש או מאריך אותה?
        שאלות אלה ועוד הן חלק מהשאלות שעולות במסגרת העבודה על חוויית משתמש – User Experience והעיצוב הגראפי – User Interface.
        
        מה ההבדל בין UX ל-UI?
        אחרי שהבנו מה זה UX UI, אנחנו יכולים להבין טוב יותר את ההבדלים. ניקח כדוגמה ידועה את בקבוק הקטשופ של חברת היינץ. העיצוב הוויזואלי של הבקבוק, ה-UI, לא שונה באופן מהותי מהמתחרים. על חלק מהאנשים העיצוב הוא עשוי לעשות רושם של קטשופ "בוגר" יותר, עם טעמים עזים יותר, מאשר קטשופ שמשווק לצעירים. בהיבט ה-UX, חוויית המשתמש – יש הבדל מהמתחרים. כולנו מכירים את הסיטואציה בה הקטשופ עומד להיגמר. מצד אחד קשה להוציא את השאריות, ומצד שני – אנחנו לא רוצים לוותר. הפקק של בקבוק הקטשופ של היינץ הוא פקק שטוח, שמאפשר להעמיד את הקטשופ הפוך במקרר ועל ידי כך לנצל כל טיפה של טעם. לא מדובר בדבר של מה בכך אלא במחשבה שהושקעה בעיצוב, ואם תשימו לב לפרסומות – גם בתמונות המוצר הקטשופ עומד הפוך (על הפקק).
        
        ועוד קצת על חוויית משתמש מעולמות אחרים
        הידעתם? אפילו סיבוב בלונה פארק יכול לגרום לאיש UX UI למלמל על חוויית משתמש מדהימה. הוא מתכוון לא רק לעיצוב ולצבעים, אלא גם לדרך שהוא עובר מהרגע שהוא נכנס – לסדר של המתקנים מהקל אל הכבד ואפילו לפיזור הנכון של מכונות השתייה והקיוסקים – בדיוק כשצריך אותם, בירידה מהמתקנים שזוללים הכי הרבה אנרגיה ובירידה מהמתקנים שהתור אליהם הוא תמיד ארוך וחשוף לשמש. כפי שניתן להבין, בקרב מביני עניין חוויית משתמש הפכה לדרך לתאר את כל מה שמתוכנן בצורה מחושבת ומוקפדת כדי לענות על הצרכים של בני האדם.
        
        אילו יכולות צריך כדי לעסוק בתחום?
        כדי לעסוק בתחום של חוויית משתמש צריך כמובן לדעת לעצב, ובמסגרת קורס UX UI לומדים עיצוב בתוכנות מתקדמות (ברוב הקורסים יש צורך בידע מוקדם). לכן יש צורך ביצירתיות, באהבה לעיצוב ובאסתטיקה. מלבד זאת, חוויית משתמש זהו תחום שנוגע להתנהגות האנושית, לדרכי החשיבה וההתנהלות, ובמילים אחרות – זאת פסיכולוגיה של ממש, בה אנחנו מנסים להעריך על בסיס מידע מבוסס כיצד קהל היעד של המוצר יתנהג עם המוצר ואיך נעניק לו את הפתרון הטוב ביותר.
        
        מה לומדים כדי לעסוק בתחום?
        כדי להבין לעומק מה זה UX UI ואיך העבודה מתרחשת בפועל, הקורס הטוב ביותר הוא קורס UX UI, שמוצע כמובן אצלנו במכללה ומקיף את כל מה שצריך לדעת. לא ניתן להיות UX UI Design ללא הידע העיצובי, כלומר ללא UI, אך ישנן חברות שמפרידות בין התפקידים, כלומר איש שאחראי על העיצוב של המוצר הדיגיטלי / הפיזי ואיש שאחראי על חוויית המשתמש. מי שאוהב את השילוב בין יצירתיות ועיצוב לחשיבה מעמיקה, מחקר קהלים ופסיכולוגיה צרכנית – אין ספק שמדובר בתחום שהוא גם מבוקש וגם מאתגר.
        
        מה זה UX UI? מה שמבדיל בין מוצר שיורד מהמדף למוצר מצליח
        תחום חוויית המשתמש הוא תחום מבוקש שנמצא במרבית חברות ההייטק כיום, וכן בסטודיו לעיצוב ושיווק דיגיטלי. דווקא בעולם תחרותי, ודווקא כשהצרכנים רוצים לקבל יותר עבור הכסף שלהם – החשיבה המוקפדת מאחורי כל מוצר מעניקה לו עליונות.
        </p>
        
</div>